@font-face {
    font-family: 'Yekan';
    src: url("iranyekanweb.ttf") format('truetype');
    /* You may include other font formats (e.g., woff, woff2) for better browser compatibility */
}

body, h1, h2, p, .button {
    font-family: 'Yekan', Arial, sans-serif;
    text-align: center;
}

body {
    font-family: 'Yekan', Arial, sans-serif;
    background-color: #111111;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.introducing-box {
    background-color: #222222;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-family: Yekan, sans-serif;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Media query for responsive design */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    .button {
        display: block;
        margin-bottom: 10px;
    }
}
